[run]
source = 
    ./rpi_bot/
    ./models/

data_file = coverage/python/.coverage

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

precision = 1
sort = Cover

[html]
directory = coverage/python

[xml]
output = coverage/python/coverage.xml